@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  --color-primary: #212121;
  --text-color: #e4e2dd;
  --color-secondary: #3f3f3f;
  --color-tertiary: #696969;
}

body {
  background-color: var(--color-primary);
  color: var(--text-color);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}

.text-primary {
  color: var(--text-color);
}
